* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.galery,
.galeryTwo,
.galeryThree {
  float: left;
  width: 30%;
  margin: 1%;
}
.galeryTwo {
  float: left;
  width: 30%;
  margin: 1em;
  position: relative;
  right: -1em;
}
.galeryThree {
  float: right;
  width: 30%;
  margin: 1em;
  position: relative;
  left: -1em;
}

.galery img,
.galeryTwo img,
.galeryThree img {
  margin: 0.5em;
}

.navbar {
  width: 100%;
  height: 12vh;
  background: rgb(50, 50, 50);
  position: fixed;
}

.navbar ul {
  position: fixed;
  top: 7vh;
  right: 1vh;
}

.navbar ul li {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  font-family: arial;

  display: inline;
  padding: 0 3vh 0 3vh;
}

.navbar ul li:hover {
  border-bottom: 3px white solid;
}

.logo {
  position: fixed;
  top: 3vh;
  left: 3vh;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

.galeryContainerTwo {
  width: 100%;
  position: absolute;
  top: 12vh;
}

.navbarContainer {
  width: 100%;
}

.mobileNavbarButton {
  display: none;
}

.listMobile {
  display: none;
}

@media (max-width: 1000px) {
  .mobileNavbarButton {
    display: inline;
    font-size: 2.5em;
    display: block;
    position: fixed;
    top: 3vh;
    right: 3vh;
    color: white;
    background: none;
  }

  .galeryContainer {
    width: 100%;
    margin: 0 auto;
  }

  .galeryContainer span {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  .galery,
  .galeryTwo,
  .galeryThree {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    float: none;
  }

  .logo {
    font-size: 2.5em;
    position: fixed;
    bottom: 0;
    left: 3vh;
  }

  .mobileNavbar {
    width: 100%;
    height: 12vh;
    background: rgb(50, 50, 50);
    position: fixed;
    top: 0;
  }

  .listMobile {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 12vh;
    bottom: 0;
    font-family: arial;
    font-weight: bold;
    background: rgb(0, 0, 0, 0.5);
    transform: translate(-100vh);
  }

  .listMobile li {
    display: block;
    padding: 5vh 0 5vh 0;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 10vh;
  }

  .listMobile li:hover {
    background: white;
    color: black;
  }

  .list {
    transform: translate(-100vh);
  }
}

@media (max-width: 1600px) {
  .galery {
    float: right;
    width: 46%;
    position: relative;
    left: -1em;
  }

  .galeryTwo {
    float: left;
    width: 46%;
  }

  .galeryThree {
    display: none;
  }
}
