* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  cursor: pointer;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.galery,
.galeryTwo,
.galeryThree,
.galeryFour {
  float: left;
  width: 30%;
  margin: 1%;
}
.galery {
  width: 30%;
  position: relative;
}

.galeryTwo {
  float: left;
  width: 30%;
  position: relative;
  right: -1em;
}
.galeryThree {
  float: right;
  width: 30%;
  margin: 1em 2em 1em 2%;
  position: relative;
}
.galeryFour {
  float: right;
  width: 30%;
  margin: 0 2em 1em 2%;
  position: relative;
}

.galery img,
.galeryTwo img,
.galeryThree img,
.galeryFour img {
  margin: 0.5em;
}

.navbar {
  width: 100%;
  height: 60px;
  background: rgb(50, 50, 50);
  position: fixed;
}

.navbar ul {
  position: absolute;
  top: 1.8rem;
  right: 1rem;

}

.navbar ul li {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: arial;

  display: inline;
  padding: 0 3vh 0 3vh;
}

.navbar ul li:hover {
  border-bottom: 3px white solid;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.galeryContainerTwo {
  width: 100%;
  position: absolute;
  top: 60px;
}

.navbarContainer {
  width: 100%;
}

.mobileNavbarButton {
  display: none;
}

.listMobile {
  display: none;
}


.aboutContainer {
  display: none;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: +1;
}

.aboutContent {
  width: 70%;
  height: 80%;
  background: rgb(209, 209, 209);
  margin: 0 auto;
  position: relative;
  top: 10vh;
}

.aboutContentText {
  float: right;
  width: 50%;
  padding: 1em;
}

.aboutContent img {
  width: 45%;
}

.outIcon {
  font-size: 1.5em;
  position: absolute;
  top: 1vh;
  right: 1vh;
}

.outIcon:hover {
  color: white;
}

.imagesContainer {
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: +2;
  display: none;
}

.imagesContent {
  width: 70%;
  height: 80%;
  background: rgb(212, 212, 212);
  margin: 0 auto;
  position: relative;
  top: 10vh;
}

.imagesContent img {
  float: left;
  width: 40%;
}

.imagesText {
  float: right;
  width: 55%;
  padding: 3vh;
}

.imagesIcon {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 1.5em;
}

.imagesIcon:hover {
  color: white;
}


.logoContainer {
  font-style: fantasy;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .galeryOne,
  .galeryTwo,
  .galeryThree,
  .galeryFour {
    float: none;
  }

  .newGaleryOne {
    float: left;
    width: 45%;
    margin-left: 1%;
  }

  .newGaleryTwo {
    float: right;
    width: 48%;
    margin-right: 2em;
  }

  .galeryThree {
    position: relative;
    margin-left: 2em;
  }
  .galeryFour {
    position: relative;
    left: 1em;
  }
  
  .galery,
  .galeryTwo,
  .galeryThree,
  .galeryFour {
    float: none;
    width: auto;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .imagesText {
        width: 100%;
        float: none;
      }
    
      .imagesContent img {
        width: 100%;
        float: none;
        height: 40%;
        position: absolute;
        bottom: 0;
      }
    
      .aboutContentText {
        width: 100%;
        float: none;
      }
      
      .aboutContainer img {
        width: 100%;
        height: 35%;
        float: none;
      }
      
      .questionMarkMobile {
        display: inline;
        margin-right: 1vh;
      }
    }

    @media (max-width: 600px) {

  .logoContainer{
    font-size: 2rem;
    position: absolute;
    top: .5rem;
  } 
  .mobileNavbarButton {
    display: inline;
    font-size: 2rem;
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    color: white;
    background: none;
  }
  
  .galeryContainer {
    width: 100%;
    margin: 0 auto;
  }

  .galeryContainer span {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  .galery,
  .galeryTwo,
  .galeryThree,
  .galeryFour {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    float: none;
  }

  .logo {
    font-size: 2.5em;
    position: fixed;
    bottom: 0;
    left: 3vh;
  }

  .mobileNavbar {
    width: 100%;
    height: 12vh;
    background: rgb(50, 50, 50);
    position: fixed;
    top: 0;
  }
  
  .listMobile {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 12vh;
    bottom: 0;
    font-family: arial;
    font-weight: bold;
    background: rgb(0, 0, 0, 0.5);
    
  }

  .listMobile li {
    display: block;
    padding: 5vh 0 5vh 0;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 10vh;
    color: white;
  }
  
  .listMobile li:hover {
    background: #ffffff;
    color: #000000;
  }

  .list {
    transform: translate(-100vh);
  }
}
